@charset "UTF-8";

body,html {
    padding:0;
    margin: 0;
}

.titre_avant_separator {
    padding-top: 5%;
    text-align: center;
}

.message-bienvenue p {
    padding-top: 10%;
    text-align: justify;
}

article {
    padding-bottom : 10px;
}

.banner{
    width:100%;
    max-width: 100%;
    position: relative;
    padding: 0; 
}

.banner img {
    width: 100%;
}

.header {
    Background-color: #731702;
}

.header a {
    color : white ;
}

#navbar a:hover{
    background-color: #900003;
}

.header a:hover {
    text-decoration: #00ffbd;
}

.home-submit {
    background-color: #BF8969 ;
    border-color: #BF8969;
}

/* footer */
.footer {
    margin-top :30px ;
    height: auto;
    padding:0;
    width: 100% ;
    background-color: #731702;
    color:whitesmoke;
}

.footer legend {
    color: whitesmoke;
}
.footer p {
    text-align: center;
}

/* Vue Catalogue */

.item_theme {
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    margin-top: 5%;
    margin-bottom: 1%;
    background-color: #8A6F58;
}

.item_theme img {
    max-width: 100%;
    margin: auto;
}

.item-theme-div {
    height: auto;
}


/* bouton administration */
.administration a {
    color:yellow;
}

.erreur {
  color: red;
}


/* Tableaux HTML // Ici c'est le planning qu'on gère
*/

.planning-libre {
    background-color: rgba(144, 238, 144, 0.6);
}

.planning-paye {
    background-color: rgba(211, 42, 4, 0.5);
}

.reservation-midi {
    background-color: #808080;
}

.reservation-confirme {
    background-color: rgba(255, 255, 0, 0.3);
}

.planning {
    width:100% ;
}

.planning tr {
    text-align: center;
}

.planning th {
    text-align: center;
}
